<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="testDbServer" value="(local)"/>
		<add key="testDbName" value="deploysharp"/>
		<add key="testDbUsername" value="deploysharpUser"/>
		<add key="testDbPassword" value="dsuserpass"/>
	</appSettings>
</configuration>